# Gitignore for Raku (https://raku.org)
# As part of https://github.com/github/gitignore

# precompiled files
.precomp
lib/.precomp

.idea/
*.iml
*.log
*.html

# 非公开数据
data/
devLogs/
grpConferrence/

